/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base Styles */
.header2-text-S {
  position: absolute;
  top: 20%;
  width: 100%;
  padding: 10px 0 7% 0;
  font-size: 30px;
}
.header2-text-S h1 {
  font-size: 60px;
  margin-top: 40px;
  color: rgba(233, 254, 0, 0.891);
}
.header2-text-S p {
  color: white;
  font-size: 20px;
}
.Status {
  position: absolute;
  top: 15%;
  width: 100%;
  padding: 10px 0 7% 0;
  font-size: 12px;
  color: rgb(201, 247, 201);
}
/* Gallery styles */
#gallery {
  padding: 20px;
}

#gallery h2 {
  font-size: 50px;
  color: rgba(233, 254, 0, 0.891);
  text-align: center;
  margin-bottom: 20px;
}

#gallery h3 {
  font-size: 20px;
  color: rgba(233, 254, 0, 0.891);
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.gallery-section {
  flex: 1;
  margin: 0 10px;
}

.gallery-grid {
  display: grid;
  gap: 15px;
  padding: 20px;
}

/* Ensures three images per line on larger screens */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Container for the gallery item */
.gallery-item {
  position: relative;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.592);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Style for the image within the gallery item */
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: none;
}

/* Adding a hover effect */
.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Responsive design for small screens */
@media only screen and (max-width: 1145px) {
  #header2-and-header3 {
    display: flex;
    justify-content: center;
    height: 100dvh;
    position: relative;
    bottom: 70px;
  }
  #header2 {
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: absolute;
  }
  .header2-text-S {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    margin: 100px 0 0 0;
    color: white;
  }
  .header2-text-S h1 {
    margin: 0 70px 0 0;
    font-size: 30px;
  }
  .header2-text-S p {
    font-size: 18px;
    margin: 0 70px 0 0;
    color: white;
  }
  #header3 {
    height: 100%;
  }
  .header3-png {
    opacity: 0.5;
  }
  .Status {
    top: 80%;
  }
}

@media (max-width: 1304px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .scroll-button {
    display: inline-block;
    background-color: rgb(140, 17, 3);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 1441px) {
  .toggler {
    display: block;
    z-index: 101;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    opacity: 0;
  }

  .hamburger {
    z-index: 100;
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    height: 50px;
    width: 50px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger > div {
    position: relative;
    top: 10px;
    right: 8px;
    background: white;
    height: 2px;
    width: 60%;
    transition: all 0.4s ease;
  }

  .hamburger > div::before,
  .hamburger > div::after {
    content: "";
    position: absolute;
    top: -7px;
    background: white;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease;
  }

  .hamburger > div::after {
    top: 7px;
  }

  .toggler:checked + .hamburger > div {
    background: rgba(0, 0, 0, 0);
  }

  .toggler:checked + .hamburger > div::before {
    top: 0;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
  }

  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(135deg);
    background: rgb(255, 255, 255);
  }

  .menu {
    z-index: 99;
    position: absolute;
    background: rgba(172, 25, 8, 0.834);
    right: 0;
    width: 0;
    height: 200vh;
    transition: all 0.6s ease;
  }

  .toggler:checked ~ .menu {
    width: 200px;
  }
  .menu > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 130px;
    right: 10px;
    margin-right: 0;
    visibility: hidden;
  }
  .menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    right: 5%;
  }

  .toggler:checked ~ .menu > ul {
    transition: visibility 0.9s ease;
    transition-delay: 0.3s;
    visibility: visible;
  }

  .toggler:checked ~ .menu > ul > li > a:hover {
    color: rgb(67, 168, 154);
  }
  nav ul li a::after {
    background: rgb(88, 215, 198);
  }

  /* Divider for small screens */
  .menu > ul > li.divider {
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(233, 254, 0, 0.891);
    margin: 35px -25px;
  }
}
@media only screen and (min-width: 1146px) {
  #scroll-to-sculptures,
  #scroll-to-paintings,
  #scroll-to-text {
    display: none;
  }
}
