@media only screen and (max-width: 1145px) {
  body {
    background-image: url(Images/Masyaf2N-copy.svg);
  }
  #header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    z-index: 100;
    width: 100%;
    height: 10dvh;
    top: 0;
  }
  #header2-and-header3 {
    display: flex;
    justify-content: center;
    height: 90dvh;
    position: relative;
  }
  #header2 {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(
      0,
      0,
      0,
      0.5
    ); /* Add this line for background color with transparency */
  }
  .header2-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: rgba(
      0,
      0,
      0,
      0.5
    ); /* Add this line for background color with transparency */
    color: white; /* Ensure the text color is readable */
  }
  .header2-text h1 {
    font-size: 30px;
  }
  .header2-text p {
    font-size: 18px;
    color: white;
  }
  #header3 {
    height: 100%;
  }
  .header3-png {
    background-image: url(Images/8.png);
    background-position: right;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Add this line to make the image less intense */
  }
}
/* Responsive design with a minimum width of 250px */
@media (max-width: 767px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
