/*--------Visual-Arts-Gallery-Grid------*/
/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gallery styles */
#gallery {
  padding: 20px;
}

#gallery h2 {
  font-size: 50px;
  color: rgba(233, 254, 0, 0.891);
  text-align: center;
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Copyright section styles */
#copyright {
  text-align: center;
  padding: 10px;
  background-color: #161616;
}

.colored-emoji {
  font-size: 1.2em;
}
